@font-face{
    font-family:"netflix1";
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2);
}

@font-face{
    font-family:"netflix2";
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*{
    font-family: "netflix2";
    font-weight: normal;
    color: white;
    background-color: black;
}
/* body{
    width: 100vw;
    height: 100vh;

} */
.post-container{
    /* background-color: black; */
    position: relative;
    /* width: 100%; */
}
.post-container .background{
    /* background-color: black; */

    width: 100%;
}
.post-text{

}
h1{
    font-family: "netflix1";
    text-align: center;
}
h2{
    text-align: center;
}

.post-image-container{
    position: relative;
    height: auto;
    border: 0;

}
.post-downloading-container{
    display: flex;
    position: absolute;
    align-items: center;
    min-width: 15em;
    left: 50%;
    bottom: 8%;
    width: 60%;
    margin: 0 auto;
    border-radius: 0.75em;
    border: 2px solid rgba(83,83,83);
    height: 80px;
    padding: 10px;
    
    
    transform: translateX(-50%);
   
    
}
.post-downloading-container img{
    max-height: 100%;
    margin: 0 1em 0 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.post-downloading-container .down-text{
    margin: 0.3em 0;
    flex-grow: 1;
    flex-shrink: 1;
}
.blue-text{
    color: blue;
}

